$color-blue: #007bff;
$color-sky: #00b7ff;
$color-pink: #fb00ff;
$color-green: #00ff55;
$color-red: #ff0000;
$color-orange: #ff8c00;
$color-yellow: #f2ff00;
$color-purple: #8c00ff;
$color-black: #000000;
$color-white: #ffffff;